.arc-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.smooth-transition {
  transition-duration: .5s;
}

.edge-word {
  display: flex;
  align-items: center;
  padding: 1rem;
}